doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        title Nueva cuenta registrada con éxito.
    body
    article
        h4 ¡Hola #{name} ! 
        p Tú nueva cuenta ha sido registrada con éxito y por ello te damos la bienvenida a <b>ATC</b>
        p Ingresa de nuevo a la plataforma y descubre qué cosas puedes ahora como usuario registrado.
        br
        <a href=#{link}>Ir a ActualizaTuCarro.</a>
    footer
        p Atentamente, <b>Equipo de <i>ATC</i></b>
