doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        title Nueva Compra.
    body
    main
        h4 #{name} 
        p Le notificamos que su compra en nuestra plataforma se llevo a cabo con éxito.
        p Gracias por confiar en nuestros productos y servicios. A continuación, podrá ver más detalles de la transacción y la orden
        br
        // Poner acá una tabla o link donde se puedan ver los dichos datos
    footer
        p Atentamente, <b>Equipo de <i>ATC</i></b>