doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title ¡Has solicitado recuperar tu contraseña!
    <header style='text-align:center; padding-top:4vh; padding-bottom:4vh; background-color:white;'>
        <img src='cid:headerATCLogo' style='max-width:100%; align-content:center;'/>
    </header>
    body
    <article style='border-bottom:solid red; padding-bottom:2vh;'>
        <h2 style='color: red; text-align:left'>¡Hola #{name}!</h2>
        <h4 style='color:black; text-align:left'>¡Solo falta un paso más!</h4>
        <p style='color:black; text-align:left'>Hemos recibido una solicitud para cambiar tu contraseña</p>
        <p style='color:black; text-align:left'>Solo debes dar click en el enlace</p>
        p(style='text-align:center; margin:4vh 0 4vh 0') <a href=#{link} style='padding:2vh; color:red;'>Recuperar contraseña.</a>
    </article>
    footer
        <p style='color:black; text-align:left'>No responda a este remitente</p>
        <p style='color:black; text-align:left'><b>Atte:</b> Equipo de <span style="color: red"><b>ATC</b></span></p>
