doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Has solicitado recuperar tu contraseña!
    body
    h2 Solo falta un paso mas!
    h4 Hola #{name} ! 
    p Hemos recibido una solicitud para cambiar tu contraseña
    p si fuiste tu solo debes dar click en el siguiente boton,
    br
    a(class='btn' href=link) Recuperar contraseña.