doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        title ¡Has solicitado recuperar tu contraseña!
    body
    main
        h2 ¡Solo falta un paso más!
        h4 ¡Hola #{name}! 
        p Hemos recibido una solicitud para cambiar tu contraseña
        p si fuiste tu, solo debes dar click en el siguiente boton,
        br
        <a href=#{link}>Recuperar contraseña.</a>